<body>
  <div style="height: 89px; background-color:rgb(48, 111, 213);">
      <div style="height: 89px; width: 30%; background-color:rgb(48, 111, 213); float: left;">
              <button class="button-head"> Walmart</button>
              <button class="button-head"> Departments</button>
              <button class="button-head"> Services</button>
      </div>
      <div style="height: 89px; width: 40%; float: left; background-color:rgb(48, 111, 213);">
        <input style="float: left; margin-top: 15px; height: 20px; margin-left: 5px; background-color: transparent; border-color: transparent;" type="text" size="83" value="Search everything at Walmart online and in store" readonly />
        <button style="float:left; height: 40px; width: 40px; background-color:rgb(224, 235, 110); border-radius: 20px; border-color: transparent; margin-top: 5px; margin-left: 5px; color: white;">0</button>
      </div>
      <div style="height: 89px; width: 30%; float: left; background-color:rgb(48, 111, 213);">
        <button class="button-head"> My Items</button>
        <button class="button-head"> Account</button>
        <button class="button-head"> Basket</button>
      </div>
  </div>
  <div ></div>
  <div style="height: 3px; background-color: white;"></div>
  <div style="height: 39px; width: 55%; background-color:rgb(48, 111, 213); float: left;">
      <button class="delivery-button">How do you whant your Items? Sacramento,95829 Sacrament </button>
    </div>
    <div style="height: 39px; width: 45%; background-color:rgb(48, 111, 213); float: left;">
      <button class="deal-button">Deal</button>
      <button class="deal-button">Grocery & Essentials</button>
      <button class="deal-button">Valentine's Day</button>
      <button class="deal-button">Winter Prep</button>
      <button class="deal-button">Game Time</button>
      <button class="deal-button">Fashion</button>
      <button class="deal-button">Home</button>
      <button class="deal-button">Electronics</button>
    </div>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>